@font-face {
  font-family: 'ZKBIconfont-Large';
  src:  url('/wp-content/uploads/elementor/custom-icons/ZKBIconfont-Large/fonts/ZKBIconfont-Large.eot?d4dphx');
  src:  url('/wp-content/uploads/elementor/custom-icons/ZKBIconfont-Large/fonts/ZKBIconfont-Large.eot?d4dphx#iefix') format('embedded-opentype'),
    url('/wp-content/uploads/elementor/custom-icons/ZKBIconfont-Large/fonts/ZKBIconfont-Large.ttf?d4dphx') format('truetype'),
    url('/wp-content/uploads/elementor/custom-icons/ZKBIconfont-Large/fonts/ZKBIconfont-Large.woff?d4dphx') format('woff'),
    url('/wp-content/uploads/elementor/custom-icons/ZKBIconfont-Large/fonts/ZKBIconfont-Large.svg?d4dphx#ZKBIconfont-Large') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="zkblarge-"], [class*=" zkblarge-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ZKBIconfont-Large' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zkblarge-down-circle-large:before {
  content: "\e90d";
}
.zkblarge-down-large:before {
  content: "\e90e";
}
.zkblarge-left-circle-large:before {
  content: "\e90f";
}
.zkblarge-left-large:before {
  content: "\e910";
}
.zkblarge-right-circle-large:before {
  content: "\e911";
}
.zkblarge-right-large:before {
  content: "\e912";
}
.zkblarge-up-circle-large:before {
  content: "\e913";
}
.zkblarge-up-large:before {
  content: "\e914";
}
