.elementor-557 .elementor-element.elementor-element-284ab69 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-557 .elementor-element.elementor-element-284ab69:not(.elementor-motion-effects-element-type-background), .elementor-557 .elementor-element.elementor-element-284ab69 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-text );}.elementor-557 .elementor-element.elementor-element-284ab69{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-557 .elementor-element.elementor-element-284ab69 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-557 .elementor-element.elementor-element-1d6214b .elementor-heading-title{color:var( --e-global-color-secondary );}.elementor-557 .elementor-element.elementor-element-63f18d7 .elementor-heading-title{color:var( --e-global-color-secondary );font-family:var( --e-global-typography-accent-font-family ), Helvetica, Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}:root{--page-title-display:none;}body.elementor-page-557:not(.elementor-motion-effects-element-type-background), body.elementor-page-557 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-text );}/* Start custom CSS for html, class: .elementor-element-6a45430 */.elementor-557 .elementor-element.elementor-element-6a45430 {
    font-size: 0;
}
.elementor-557 .elementor-element.elementor-element-6a45430 svg {
    width: 100%;
    max-width: 220px;
    height: auto;
    font-size: 0;
}/* End custom CSS */
/* Start custom CSS */body {
    height: auto !important;
}/* End custom CSS */