.elementor-4435 .elementor-element.elementor-element-02f875c > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-4435 .elementor-element.elementor-element-02f875c > .elementor-background-overlay{mix-blend-mode:screen;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-4435 .elementor-element.elementor-element-02f875c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-4435 .elementor-element.elementor-element-50c9cd6 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-4435 .elementor-element.elementor-element-9435eb8 > .elementor-widget-container{margin:0rem 0rem 2rem 0rem;}.elementor-4435 .elementor-element.elementor-element-89d9239 > .elementor-widget-container{margin:1rem 0rem 0rem 0rem;}.elementor-4435 .elementor-element.elementor-element-cf7e490 > .elementor-widget-container{margin:1rem 0rem 0rem 0rem;}.elementor-4435 .elementor-element.elementor-element-4c85ce3 > .elementor-widget-container{margin:1rem 0rem 0rem 0rem;}:root{--page-title-display:none;}body.elementor-page-4435:not(.elementor-motion-effects-element-type-background), body.elementor-page-4435 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-4744a55 );}@media(min-width:570px){.elementor-4435 .elementor-element.elementor-element-50c9cd6{width:100%;}}/* Start custom CSS */.elementor-widget-text-editor a {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  
  text-decoration: underline

}/* End custom CSS */