@font-face {
  font-family: 'ZKBIconfont';
  src:  url('/wp-content/uploads/elementor/custom-icons/ZKBIconfont/fonts/ZKBIconfont.eot?qcv13e');
  src:  url('/wp-content/uploads/elementor/custom-icons/ZKBIconfont/fonts/ZKBIconfont.eot?qcv13e#iefix') format('embedded-opentype'),
    url('/wp-content/uploads/elementor/custom-icons/ZKBIconfont/fonts/ZKBIconfont.ttf?qcv13e') format('truetype'),
    url('/wp-content/uploads/elementor/custom-icons/ZKBIconfont/fonts/ZKBIconfont.woff?qcv13e') format('woff'),
    url('/wp-content/uploads/elementor/custom-icons/ZKBIconfont/fonts/ZKBIconfont.svg?qcv13e#ZKBIconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="zkb-"], [class*=" zkb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ZKBIconfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zkb-checkbox-checked:before {
  content: "\e900";
}
.zkb-checkbox:before {
  content: "\e901";
}
.zkb-contact:before {
  content: "\e902";
}
.zkb-down-circle:before {
  content: "\e903";
}
.zkb-down:before {
  content: "\e904";
}
.zkb-file:before {
  content: "\e905";
}
.zkb-left-circle:before {
  content: "\e906";
}
.zkb-left:before {
  content: "\e907";
}
.zkb-link:before {
  content: "\e908";
}
.zkb-right-circle:before {
  content: "\e909";
}
.zkb-right:before {
  content: "\e90a";
}
.zkb-up-circle:before {
  content: "\e90b";
}
.zkb-up:before {
  content: "\e90c";
}
